__pycache__
.ipynb_checkpoints
.vscode
*.log
/panorama_sdk/models/*
/panorama_sdk/videos/*
/samples/car_tracker/car_tracker_app/assets/*
/samples/people_counter/people_counter_app/assets/*
/samples/car_tracker/models/*
/samples/people_counter/models/*
